*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    margin-left: 50%;
    translate: -50% 0;
}

.row{
    /* padding-left: 2px;
    padding-right: 2px; */
    width: 100%;
    display: flex;
    /* gap: 2px; */
    justify-content: space-around;
    align-items: center;
    background-color: green;
}

.cell{
    background-color: red;
    /* margin-top: 2px; */
    flex-grow: 1;
    flex-shrink: 1;
}

#newGrid{
    position: absolute;
    margin-left: 80%;
    margin-top: 50vh;
    translate: -50% -50%;
}